<p-toolbar>
  <div class="p-toolbar-group-left">
    <img src="logo.png" alt="Logo" style="width: 200px" />
  </div>
  <div class="p-toolbar-group-right">
    <p-button
      pButton
      pRipple
      icon="pi pi-cog"
      class="p-button-rounded p-button-secondary"
    ></p-button>
    <p-button
      pButton
      pRipple
      icon="pi pi-user"
      class="p-button-rounded p-button-secondary"
    ></p-button>
    <p-button
      pButton
      pRipple
      icon="pi pi-power-off"
      class="p-button-rounded p-button-danger"
    ></p-button>
  </div>
</p-toolbar>
